.login{
  background:#324157;
  height: 100%;
}

.login .form{
  position: absolute;
  left: calc(50% - 160px);
  top: calc(50% - 130px);
  width: 380px;
  min-height: 200px;
  padding: 40px;
  border-radius: 5px;
  background: #fff;
}

.login .title{
  position: relative;
  text-align: center;
  top: calc(50% - 200px);
  color: white;
  font-size: 30px;
}