.app .header{
    position: fixed;
    top: 0;
    left: 200px;
    z-index: 100;
}

.app .sidebar{
    min-height: calc(100% - 50px);
    position: fixed;
    z-index: 100;
}

.app .container{
    position: absolute;
    top: 50px;
    left: 200px;
    min-height: calc(100% - 50px);
    width: calc(100% - 200px);
    padding: 20px;
}